.navbar {
    height: 99px;
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    z-index: 2000;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 20px;
}
.overimag{
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold; 
    top: 50%;
    left: 23%;
    z-index: 1001; 
}
.media{
    margin-top: 200px;
}
.myheading {
    display: flex;
    align-items: center;
    gap: 15px;
   margin-top: 120px; 
}
.myheading::after {
    content: "";
    flex: 1;
    height: 2px;
    background: linear-gradient(to right, #0d6efd, transparent);
}
.headline{
    display: flex;
    align-items: center;
    gap: 15px;
   margin-top: 40px; 
}
.headline::after{
    content: "";
    flex: 1;
    height: 2px;
    background: linear-gradient(to right, #0d6efd, transparent);
}
.pagination {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}